#app-container {
    font-family: Arial;
    padding: 15px;
}

#enter-participant-section {
    background-color: #CCC;
    border-bottom: 1px solid #666;
    padding: 10px;
    margin-bottom: 20px;
}

#participant-name, #ticket-text-input {
    width: 350px;
    padding: 10px;
}

#ticket-text-input {
    width: 600px;
}

#enter-participant-submit {
    height: 39px;
    width: 90px;
    cursor: pointer;
    -webkit-appearance: button;
}
#ticket-average-score-container {
    display: none;
    border: 1px solid #CCC;
    padding: 10px 0px 10px 14px;
    font-size: 14px;
    margin-top: 15px;
}
#display-session-id {
    font-size: 15px;
    color: #FFFFFF;
    background-color: #444;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

#ticket-info-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#session-moderator-chx-container {
    margin-top: 10px;
}

#ticket-input {
    display: none;
}

#existing-session-container {
    display: none;
}

#session-select-container {
    display: none;
}

#moderator-buttons {
    background-color: #DDD;
    padding: 10px;
    margin-top: 10px;
    border: 1px dashed #CCC;
    visibility: hidden;
}

#start-pointing-btn {
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    -webkit-appearance: button;
}

#participants {
    border-collapse: collapse;
    font-size: 18px;
    float: left;
    min-width: 400px;
}

#participants tr.myRow {
    background-color: #ffffb3;
}

#participants td {
    border-top: 1px solid #CCC;
    padding: 10px;
}

#participants td.participant-name {
    padding-right: 50px;
}
.remove-participant {
    text-align: center;
    cursor: pointer;
    width: 70px;
}
.current-score {
    width: 70px;
    background-color: #666;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
}

#ticket-description {
    font-size: 20px;
    margin: 25px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px dashed#000;
    border-bottom: 1px dashed #000;
}

#reveal-scores, #clear-scores {
    display: none;
}

#reveal-scores-btn, #clear-scores-btn {
    padding: 5px;
    width: 175px;
    border-radius: 10px;
    cursor: pointer;
}

.score-btn.fist-of-five-btn {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}

.score-btn {
    border-radius: 40px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    width: 75px;
    height: 75px;
    border: 2px solid #FFF;
    background-color: #CCC;
    outline: none;
}

.score-btn.disabled {
    background-color: #EEE;
}

.score-btn.active {
    border-color: green;
}

.score-container {
    float: left;
    margin-right: 25px;
}

.current-score {
    text-align: center;
}

#pointing-label {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 4px;
}

#ticket-description-text, #pointing-label {
    float: left;
}

#app-bottom-left-container {
    border-radius: 10px;
    margin-top: 70px;
    float: left;
}
#app-bottom-right-container {
    float: left;
    margin-left: 50px;
    margin-top: 70px;
    width: 600px;
}
#history-container {
    background-color: #DDD;
    height:400px;
    padding: 0px 10px 10px 10px;
    font-size: 14px;
    overflow: scroll;
    display: none;
}
#history-toggle-link {
    color: blue;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 14px;
}
#back-to-session-select-container {
    margin-bottom: 15px;
}
#back-to-session-select {
    color: blue;
    cursor: pointer;
}
#start-session {
    padding: 15px;
    cursor: pointer;
}
#end-session {
    font-size: 12px;
    color: blue;
    cursor: pointer;
    position: relative;
    top: -5px;
    left: 12px;
}
#existing-sessions-select-container {
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 20px;
}
#existing-session-select-label {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 18px;
}
#existing-sessions {
    border-collapse: collapse;
}

#existing-sessions td {
    border-bottom: 1px solid #000;
    padding: 15px 0px;
    cursor: pointer;
}

#existing-sessions td:hover {
    background-color: #ffffb3;
}

#clear-session {
    display: none;
    padding: 10px;
    cursor: pointer;
    width: 144px;
    float: right;
    margin-top: 20px;
}
.ticket-history-desc {
    padding: 0px 0px 10px 0px;
}

i.fa-caret-square-up {
    display: none;
}
.ticket-history-row {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #333;
}
.ticket-history-participant-score {
    float: left;
    padding: 7px 18px;
    border-bottom: 1px solid #DDD;
}
.ticket-history-timestamp {
    margin-bottom: 10px;
    font-style: italic;
}
.ticket-history-avg-score {
    margin-top: 10px;
}
.ticket-hist-avg-score-label {
    font-weight: bold;
}
.ticket-history-participant-score.even {
    background-color: #BBB;
}
.ticket-history-participant-score.odd {
    background-color: #CCC;
}
#score-options {
    float: left;
}
#fof-text {
    position: relative;
    top: -12px;
    left: 5px;
}
#fist-of-five-toggle {
    float: right;
    font-size: 18px;
    border: 3px solid #CCC;
    color: #CCC;
    padding: 15px;
    border-radius: 7px;
    line-height: 10px;
    cursor: pointer;
    display: none;
}
#fist-of-five-toggle.active-fof {
    color: #000;
    border-color: #000;
}